<nav class="navbar">
  <div class="nav-brand">
    <a>💻 TecnoShop</a>
  </div>

  <div class="search-container" *ngIf="mostrarBuscador">
    <div class="search-box">
      <input 
        type="text" 
        placeholder="Buscar productos, marcas y más..." 
        [(ngModel)]="filtroTexto"
        (keyup.enter)="aplicarFiltros()"
      >
      <button class="search-btn" (click)="aplicarFiltros()">🔍</button>
    </div>
  </div>

  <div class="nav-links">
  </div>

  <div class="nav-actions">
    <ng-container *ngIf="esAdmin">
      <a routerLink="/catalogo" routerLinkActive="active">Inicio</a>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/admin-productos" routerLinkActive="active">Productos</a>
      <a routerLink="/admin-perfil" routerLinkActive="active">Perfil</a>
    </ng-container>
    <ng-container *ngIf="esCliente">
      <a routerLink="/catalogo" routerLinkActive="active" class="desktop-only">Inicio</a>
      <a routerLink="/perfil" routerLinkActive="active" class="desktop-only">Perfil</a>
      <a *ngIf="esCliente" routerLink="/carrito" class="icon-btn" title="Ver Carrito">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
      </a>
    </ng-container>
    
    <ng-container *ngIf="!usuario">
      <a routerLink="/home" routerLinkActive="active" class="desktop-only">Inicio</a>
      <a routerLink="/login" routerLinkActive="active" class="link-btn">Iniciar Sesion</a>
      <a routerLink="/registrar" routerLinkActive="active" class="btn-registro">Registrarse</a>
    </ng-container>

    <div class="user-panel" *ngIf="usuario">
      <span class="user-name desktop-only">Hola, {{ usuario.nombres }}</span>
      <button (click)="cerrarSesion()" class="icon-btn logout-btn" title="Cerrar Sesión">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
      </button>
    </div>
  </div>
</nav>